.edit-description {
  color: blue;
}
.edit-description:hover {
  text-decoration: underline;
  cursor: pointer;
}
.description {
  border-bottom: 1px solid #c3c2c2;
  padding: 0px 0px 40px 0px;
}
.basic {
  color: #b2b1b184;
}
.linked-accounts p {
  margin-top: 17px;
  font-weight: 600;
}
.add-your-skill {
  color: #c3b2b2;
}
.linked-color {
  color: #00698c;
}
